<div class="box">
  <div class="grid grid-cols-6">

    <div class="col-span-3">
      <div class="flex items-center w-full">
        <img
          class="w-[5rem] h-[5rem] object-cover object-top"
          src="https://rukminim1.flixcart.com/image/612/612/kb1470w0/jean/x/r/a/30-11274626-roadster-original-imafsgsthk6gdpjg.jpeg?q=70"
          alt=""
        />

        <div class="ml-5">
          <p class="font-semibold text-lg">product title</p>
          <p class="text-sm text-gray-400">Size : M</p>
          <p class="text-sm text-gray-400">Color : Blue</p>
        </div>
      </div>
    </div>

    <div class="col-span-1">
        <p class="font-semibold text-lg">PKR 1600</p>
    </div>
    
    <div class="col-span-2">
        <p class="font-semibold text-lg">Expected Delivery of Dec 20</p>
        <p class="text-sm">Your Item Has Been Delivered !</p>
    </div>

  </div>
</div>
